<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Macros</title>
</head>

<body>
    {% macro load_userdata(error = None) %}
    {% if not error %}
    <fieldset>
        <input name="username" type="text" placeholder="Username" required>
    </fieldset>
    <fieldset>
        <input name="password" type="password" placeholder="Password" required>
    </fieldset>
    {% else %}
    <fieldset>
        <input name="username" type="text" placeholder="Username" required>
    </fieldset>
    <fieldset>
        <input name="password" type="password" placeholder="Password" required>
    </fieldset>
    <h3 style="color: red;"> Error: {{error}} </h3>
    {% endif %}
    {% endmacro %}
</body>

</html>